<div class="row">
    <h1>Department</h1>
</div>
<div class="row">
    <div class="col-lg-12">
        <form (ngSubmit)="submit()">
            <div class="form-group">
                <label for="DepartmentName">Enter Department Name:</label>
                <input class="form-control" id="DepartmentName" type="text" [(ngModel)]="department.Name" name="text" required />
            </div>
            <input type="submit" id="submit" value="Submit" class="btn btn-default" />
            <button class="btn btn-danger" id="cancel" (click)="clearDepartment()">Cancel</button>
        </form>
        <br />
    </div>
</div>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Sr.No</th>
                <th>Department</th>
                <th>Edit - Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let department of departments;let i = index">
                <td>{{i+1}}</td>
                <td>{{department.Name}}</td>
                <td>
                    <button class="btn btn-primary" id="editDepartment" (click)="editDepartment(department)">Edit</button>
                    <button class="btn btn-primary" id="deleteDepartment" (click)="deleteDepartment(department)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>