<div class="row">
    <h1>Section</h1>
</div>
<div class="row">
    <div class="col-lg-12">
        <form (ngSubmit)="submit()">
            <div class="form-group">
                <label for="SectionName">Section Name:</label>
                <input class="form-control" id="SectionName" type="text" [(ngModel)]="section.SectionName" name="text" required />
            </div>
            <div class="form-group">
                <label for="department">Department:</label>
                <department-select [newSelectedDept]="newSelectedDept" (onSelectDept)="onSelectDept($event)"></department-select>
            </div>
            <input type="submit" id="submit" value="Submit" class="btn btn-default" />
            <button class="btn btn-danger" id="cancel" (click)="clearSection()">Cancel</button>
        </form>
        <br />
    </div>
</div>
<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Sr.No</th>
                <th>Section</th>
                <th>Department</th>
                <th>Edit - Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let section of sections;let i = index">
                <td>{{i+1}}</td>
                <td>{{section.SectionName}}</td>
                <td>{{section.DepartmentName}}</td>
                <td>
                    <button class="btn btn-primary" id="editSection" (click)="editSection(section)">Edit</button>
                    <button class="btn btn-primary" id="deleteSection" (click)="deleteSection(section)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>